$tst-type-test-h1: 400 1.813em/2.175em 'Abel';
$tst-type-test-h1-size: 29;
$tst-type-test-h1-weight: 400;
$tst-type-test-h2: 400 1.5em/1.8em 'Abel';
$tst-type-test-h2-size: 24;
$tst-type-test-h2-weight: 400;
$tst-type-test-h3: 400 1.313em/1.575em 'Abel';
$tst-type-test-h3-size: 21;
$tst-type-test-h3-weight: 400;
$tst-type-test-h4: 400 1.188em/1.425em 'Abel';
$tst-type-test-h4-size: 19;
$tst-type-test-h4-weight: 400;
$tst-type-test-h5: 400 1.125em/1.35em 'Abel';
$tst-type-test-h5-size: 18;
$tst-type-test-h5-weight: 400;
$tst-type-test-h6: 400 1.063em/1.275em 'Abel';
$tst-type-test-h6-size: 17;
$tst-type-test-h6-weight: 400;
$tst-type-test-p: 400 1em/1.2em 'Abel';
$tst-type-test-p-size: 16;
$tst-type-test-p-weight: 400;
$tst-type-test: 400 1em/1.2em 'Abel';
$tst-type-test-size: 16;
$tst-type-test-weight: 400;
$tst-color-test-10: #5c0000;
$tst-color-test-20: #670d0d;
$tst-color-test-30: #711e1e;
$tst-color-test-40: #7c3030;
$tst-color-test-50: #874646;
$tst-color-test: #874646;
$tst-color-test-60: #a56161;
$tst-color-test-70: #c38181;
$tst-color-test-80: #e1a4a4;
$tst-color-test-90: #ffcccc;
$tst-spacing-col-0: 0%;
$tst-spacing-col-0-3: 2.7775%;
$tst-spacing-col-0-4: 2.0833%;
$tst-spacing-col-0-6: 4.1667%;
$tst-spacing-col-0-8: 6.25%;
$tst-spacing-col-0-9: 5.555%;
$tst-spacing-col-1: 8.3333%;
$tst-spacing-col-1-3: 11.1108%;
$tst-spacing-col-1-4: 10.4167%;
$tst-spacing-col-1-6: 12.5%;
$tst-spacing-col-1-8: 14.5833%;
$tst-spacing-col-1-9: 13.8883%;
$tst-spacing-col-2: 16.6667%;
$tst-spacing-col-2-3: 19.4442%;
$tst-spacing-col-2-4: 18.75%;
$tst-spacing-col-2-6: 20.8333%;
$tst-spacing-col-2-8: 22.9167%;
$tst-spacing-col-2-9: 22.2217%;
$tst-spacing-col-3: 25%;
$tst-spacing-col-3-3: 27.7775%;
$tst-spacing-col-3-4: 27.0833%;
$tst-spacing-col-3-6: 29.1667%;
$tst-spacing-col-3-8: 31.25%;
$tst-spacing-col-3-9: 30.555%;
$tst-spacing-col-4: 33.3333%;
$tst-spacing-col-5: 41.6667%;
$tst-spacing-col-6: 50%;
$tst-spacing-col-7: 58.3333%;
$tst-spacing-col-8: 66.6667%;
$tst-spacing-col-9: 75%;
$tst-spacing-col-10: 83.3333%;
$tst-spacing-col-11: 91.6667%;
$tst-spacing-col-12: 100%;
$tst-spacing-colvw-0: 0vw;
$tst-spacing-colvw-0-3: 2.7775vw;
$tst-spacing-colvw-0-4: 2.0833vw;
$tst-spacing-colvw-0-6: 4.1667vw;
$tst-spacing-colvw-0-8: 6.25vw;
$tst-spacing-colvw-0-9: 5.555vw;
$tst-spacing-colvw-1: 8.3333vw;
$tst-spacing-colvw-1-3: 11.1108vw;
$tst-spacing-colvw-1-4: 10.4167vw;
$tst-spacing-colvw-1-6: 12.5vw;
$tst-spacing-colvw-1-8: 14.5833vw;
$tst-spacing-colvw-1-9: 13.8883vw;
$tst-spacing-colvw-2: 16.6667vw;
$tst-spacing-colvw-2-3: 19.4442vw;
$tst-spacing-colvw-2-4: 18.75vw;
$tst-spacing-colvw-2-6: 20.8333vw;
$tst-spacing-colvw-2-8: 22.9167vw;
$tst-spacing-colvw-2-9: 22.2217vw;
$tst-spacing-colvw-3: 25vw;
$tst-spacing-colvw-3-3: 27.7775vw;
$tst-spacing-colvw-3-4: 27.0833vw;
$tst-spacing-colvw-3-6: 29.1667vw;
$tst-spacing-colvw-3-8: 31.25vw;
$tst-spacing-colvw-3-9: 30.555vw;
$tst-spacing-colvw-4: 33.3333vw;
$tst-spacing-colvw-5: 41.6667vw;
$tst-spacing-colvw-6: 50vw;
$tst-spacing-colvw-7: 58.3333vw;
$tst-spacing-colvw-8: 66.6667vw;
$tst-spacing-colvw-9: 75vw;
$tst-spacing-colvw-10: 83.3333vw;
$tst-spacing-colvw-11: 91.6667vw;
$tst-spacing-colvw-12: 100vw;