@mixin background-color-test-10 {
  --background-color: var( --tst-color-test-10 );
  background-color: var( --background-color );
}
@mixin background-color-test-20 {
  --background-color: var( --tst-color-test-20 );
  background-color: var( --background-color );
}
@mixin background-color-test-30 {
  --background-color: var( --tst-color-test-30 );
  background-color: var( --background-color );
}
@mixin background-color-test-40 {
  --background-color: var( --tst-color-test-40 );
  background-color: var( --background-color );
}
@mixin background-color-test-50 {
  --background-color: var( --tst-color-test-50 );
  background-color: var( --background-color );
}
@mixin background-color-test {
  --background-color: var( --tst-color-test );
  background-color: var( --background-color );
}
@mixin background-color-test-60 {
  --background-color: var( --tst-color-test-60 );
  background-color: var( --background-color );
}
@mixin background-color-test-70 {
  --background-color: var( --tst-color-test-70 );
  background-color: var( --background-color );
}
@mixin background-color-test-80 {
  --background-color: var( --tst-color-test-80 );
  background-color: var( --background-color );
}
@mixin background-color-test-90 {
  --background-color: var( --tst-color-test-90 );
  background-color: var( --background-color );
}
@mixin background-color-hover-test-10 {
  &:hover {
    background-color: var( --tst-color-test-10 );
  }
}
@mixin background-color-hover-test-20 {
  &:hover {
    background-color: var( --tst-color-test-20 );
  }
}
@mixin background-color-hover-test-30 {
  &:hover {
    background-color: var( --tst-color-test-30 );
  }
}
@mixin background-color-hover-test-40 {
  &:hover {
    background-color: var( --tst-color-test-40 );
  }
}
@mixin background-color-hover-test-50 {
  &:hover {
    background-color: var( --tst-color-test-50 );
  }
}
@mixin background-color-hover-test {
  &:hover {
    background-color: var( --tst-color-test );
  }
}
@mixin background-color-hover-test-60 {
  &:hover {
    background-color: var( --tst-color-test-60 );
  }
}
@mixin background-color-hover-test-70 {
  &:hover {
    background-color: var( --tst-color-test-70 );
  }
}
@mixin background-color-hover-test-80 {
  &:hover {
    background-color: var( --tst-color-test-80 );
  }
}
@mixin background-color-hover-test-90 {
  &:hover {
    background-color: var( --tst-color-test-90 );
  }
}
@mixin color-test-10 {
  --color: var( --tst-color-test-10 );
  color: var( --color );
}
@mixin color-test-20 {
  --color: var( --tst-color-test-20 );
  color: var( --color );
}
@mixin color-test-30 {
  --color: var( --tst-color-test-30 );
  color: var( --color );
}
@mixin color-test-40 {
  --color: var( --tst-color-test-40 );
  color: var( --color );
}
@mixin color-test-50 {
  --color: var( --tst-color-test-50 );
  color: var( --color );
}
@mixin color-test {
  --color: var( --tst-color-test );
  color: var( --color );
}
@mixin color-test-60 {
  --color: var( --tst-color-test-60 );
  color: var( --color );
}
@mixin color-test-70 {
  --color: var( --tst-color-test-70 );
  color: var( --color );
}
@mixin color-test-80 {
  --color: var( --tst-color-test-80 );
  color: var( --color );
}
@mixin color-test-90 {
  --color: var( --tst-color-test-90 );
  color: var( --color );
}
@mixin color-hover-test-10 {
  &:hover {
    color: var( --tst-color-test-10 );
  }
}
@mixin color-hover-test-20 {
  &:hover {
    color: var( --tst-color-test-20 );
  }
}
@mixin color-hover-test-30 {
  &:hover {
    color: var( --tst-color-test-30 );
  }
}
@mixin color-hover-test-40 {
  &:hover {
    color: var( --tst-color-test-40 );
  }
}
@mixin color-hover-test-50 {
  &:hover {
    color: var( --tst-color-test-50 );
  }
}
@mixin color-hover-test {
  &:hover {
    color: var( --tst-color-test );
  }
}
@mixin color-hover-test-60 {
  &:hover {
    color: var( --tst-color-test-60 );
  }
}
@mixin color-hover-test-70 {
  &:hover {
    color: var( --tst-color-test-70 );
  }
}
@mixin color-hover-test-80 {
  &:hover {
    color: var( --tst-color-test-80 );
  }
}
@mixin color-hover-test-90 {
  &:hover {
    color: var( --tst-color-test-90 );
  }
}
@mixin border-color-test-10 {
  border-color: var( --tst-color-test-10 );
}
@mixin border-color-test-20 {
  border-color: var( --tst-color-test-20 );
}
@mixin border-color-test-30 {
  border-color: var( --tst-color-test-30 );
}
@mixin border-color-test-40 {
  border-color: var( --tst-color-test-40 );
}
@mixin border-color-test-50 {
  border-color: var( --tst-color-test-50 );
}
@mixin border-color-test {
  border-color: var( --tst-color-test );
}
@mixin border-color-test-60 {
  border-color: var( --tst-color-test-60 );
}
@mixin border-color-test-70 {
  border-color: var( --tst-color-test-70 );
}
@mixin border-color-test-80 {
  border-color: var( --tst-color-test-80 );
}
@mixin border-color-test-90 {
  border-color: var( --tst-color-test-90 );
}
@mixin border-test-10 {
  border: 1px solid var( --tst-color-test-10 );
}
@mixin border-test-20 {
  border: 1px solid var( --tst-color-test-20 );
}
@mixin border-test-30 {
  border: 1px solid var( --tst-color-test-30 );
}
@mixin border-test-40 {
  border: 1px solid var( --tst-color-test-40 );
}
@mixin border-test-50 {
  border: 1px solid var( --tst-color-test-50 );
}
@mixin border-test {
  border: 1px solid var( --tst-color-test );
}
@mixin border-test-60 {
  border: 1px solid var( --tst-color-test-60 );
}
@mixin border-test-70 {
  border: 1px solid var( --tst-color-test-70 );
}
@mixin border-test-80 {
  border: 1px solid var( --tst-color-test-80 );
}
@mixin border-test-90 {
  border: 1px solid var( --tst-color-test-90 );
}
@mixin border-top-test-10 {
  border-top: 1px solid var( --tst-color-test-10 );
}
@mixin border-top-test-20 {
  border-top: 1px solid var( --tst-color-test-20 );
}
@mixin border-top-test-30 {
  border-top: 1px solid var( --tst-color-test-30 );
}
@mixin border-top-test-40 {
  border-top: 1px solid var( --tst-color-test-40 );
}
@mixin border-top-test-50 {
  border-top: 1px solid var( --tst-color-test-50 );
}
@mixin border-top-test {
  border-top: 1px solid var( --tst-color-test );
}
@mixin border-top-test-60 {
  border-top: 1px solid var( --tst-color-test-60 );
}
@mixin border-top-test-70 {
  border-top: 1px solid var( --tst-color-test-70 );
}
@mixin border-top-test-80 {
  border-top: 1px solid var( --tst-color-test-80 );
}
@mixin border-top-test-90 {
  border-top: 1px solid var( --tst-color-test-90 );
}
@mixin border-bottom-test-10 {
  border-bottom: 1px solid var( --tst-color-test-10 );
}
@mixin border-bottom-test-20 {
  border-bottom: 1px solid var( --tst-color-test-20 );
}
@mixin border-bottom-test-30 {
  border-bottom: 1px solid var( --tst-color-test-30 );
}
@mixin border-bottom-test-40 {
  border-bottom: 1px solid var( --tst-color-test-40 );
}
@mixin border-bottom-test-50 {
  border-bottom: 1px solid var( --tst-color-test-50 );
}
@mixin border-bottom-test {
  border-bottom: 1px solid var( --tst-color-test );
}
@mixin border-bottom-test-60 {
  border-bottom: 1px solid var( --tst-color-test-60 );
}
@mixin border-bottom-test-70 {
  border-bottom: 1px solid var( --tst-color-test-70 );
}
@mixin border-bottom-test-80 {
  border-bottom: 1px solid var( --tst-color-test-80 );
}
@mixin border-bottom-test-90 {
  border-bottom: 1px solid var( --tst-color-test-90 );
}
@mixin border-left-test-10 {
  border-left: 1px solid var( --tst-color-test-10 );
}
@mixin border-left-test-20 {
  border-left: 1px solid var( --tst-color-test-20 );
}
@mixin border-left-test-30 {
  border-left: 1px solid var( --tst-color-test-30 );
}
@mixin border-left-test-40 {
  border-left: 1px solid var( --tst-color-test-40 );
}
@mixin border-left-test-50 {
  border-left: 1px solid var( --tst-color-test-50 );
}
@mixin border-left-test {
  border-left: 1px solid var( --tst-color-test );
}
@mixin border-left-test-60 {
  border-left: 1px solid var( --tst-color-test-60 );
}
@mixin border-left-test-70 {
  border-left: 1px solid var( --tst-color-test-70 );
}
@mixin border-left-test-80 {
  border-left: 1px solid var( --tst-color-test-80 );
}
@mixin border-left-test-90 {
  border-left: 1px solid var( --tst-color-test-90 );
}
@mixin border-right-test-10 {
  border-right: 1px solid var( --tst-color-test-10 );
}
@mixin border-right-test-20 {
  border-right: 1px solid var( --tst-color-test-20 );
}
@mixin border-right-test-30 {
  border-right: 1px solid var( --tst-color-test-30 );
}
@mixin border-right-test-40 {
  border-right: 1px solid var( --tst-color-test-40 );
}
@mixin border-right-test-50 {
  border-right: 1px solid var( --tst-color-test-50 );
}
@mixin border-right-test {
  border-right: 1px solid var( --tst-color-test );
}
@mixin border-right-test-60 {
  border-right: 1px solid var( --tst-color-test-60 );
}
@mixin border-right-test-70 {
  border-right: 1px solid var( --tst-color-test-70 );
}
@mixin border-right-test-80 {
  border-right: 1px solid var( --tst-color-test-80 );
}
@mixin border-right-test-90 {
  border-right: 1px solid var( --tst-color-test-90 );
}